<div class="container">
    <div class="panel panel-info">
         <div class="panel-body">
           <h1 class="panel-content">{{nombre}}</h1>
         </div>
        <div class="panel-footer">
          <table class="table table-bordered">
            <tr>
              <td>Rotation period:</td><td>{{rotacion}}</td>
            </tr>
            <tr>
              <td>Orbital period:</td><td>{{traslacion}}</td>
            </tr>
            <tr>
              <td>Diameter:</td><td>{{diametro}}</td>
            </tr>
            <tr>
              <td>Climate:</td><td>{{clima}}</td>
            </tr>
            <tr>
              <td>Gravity:</td><td>{{gravedad}}</td>
            </tr>
            <tr>
              <td>Terrain:</td><td>{{terreno}}</td>
            </tr>
            <tr>
              <td>Water surface:</td><td>{{superficieAgua}}</td>
            </tr>
            <tr>
              <td>Population:</td><td>{{poblacion}}</td>
            </tr>
          </table>
        </div>
      </div>
      <table>
        <tr>
          <td>
      <a [routerLink]="['/']"><h3>
        <span class="label label-info label-lg">Back to home</span>
      </h3></a>
          </td>
          <td>   
       <a [routerLink]="['/planetas/']"><h3>
        <span class="label label-info label-lg">Back to planets</span>
      </h3></a>
          </td>
        </tr>   
      </table>
</div>